body {
    background-color: rgb(105, 105, 105);
}

.window {
    display: flex;
    width: 100%;
    height: 100%;
}

#table {
    display: flex;
    flex-direction: column;
    background-color: rosybrown;
}

#laying {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(173, 227, 173);
}

#red-team,
#blue-team {
    height: 501px;
    width: 100%;
}

#red-team {
    background-color: rgb(255, 212, 221);
}

.row-1, 
.row-2,
.row-3 {
    display: flex;
}

.corner {
    width: 100px;
    height: 100px;
    background-color: white;
}

.vertical,
.horizontal {
    display: flex;
    justify-content: space-evenly;
}

.vertical {
    flex-direction: column;
    width: 100px;
    height: 802px;
    background-color: rgb(209, 223, 255);
}

.horizontal {
    width: 802px;
    height: 100px;
    background-color: rgb(255, 212, 221);
}

/* Center the pack and deck */
.center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 780px;
    height: 780px;
    background-color: rgb(58 141 113);
    border: 1px solid black;
    border-radius: 32px;
    margin: 10px;
}

#player0-hand,
#player1-hand,
#player2-hand,
#player3-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#deck, #pack {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    height: 150px;
    width: 100px;
    border-radius: 12px;
    margin: 8px;
    padding: 4px;
    border: 1px solid black;
}

#deck {
    background-color: rgb(173, 227, 173);
}

#deck:hover {
    background-color: rgb(63, 151, 63);
}

#pack {
    background-color: rgb(227, 173, 173);
}

#pack:hover {
    background-color: rgb(151, 63, 63);
}

.red {
    color: red;
}

.card-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.05rem;
    background-color: rgb(213, 227, 232);
    border-radius: 12px;
    margin: 4px;
    border: 1px solid black;
}

.card-button:hover {
    background-color: rgb(72, 72, 72);
}

.orientation-1,
.orientation-3 {
    height: 100%;
}

.orientation-0,
.orientation-2 {
    width: 100%;
}